@model RCBACONFERENCE.Models.RegisterViewModel

@{

    ViewData["Title"] = "Register";
    Layout = "_LayoutGeneral";

    var countries = new List<string> {
        "Philippines","United States", "Canada", "United Kingdom", "Australia", "Germany",
        "France", "India", "China", "Japan", "Brazil", "South Africa"
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div id="billboard" class="position-relative d-flex align-items-center py-1 bg-light-gray "
         style="background-image: url(/images/banner-image-bg.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <div class="container d-flex align-items-center" style="background-color: rgba(17, 17, 17, 0.021); padding: 40px;border-radius: 8px;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);width: 100%;max-width: 1200px;font-family: 'Montserrat', sans-serif; margin-bottom:30px">

            <div class="row align-items-center">
                <div class="col-md-6" style="margin-top:-25%">
                    <h1 style="margin-bottom: 30px;color: #8b0000;font-size: 28px;">
                        Create your account.
                    </h1>

                    <form asp-action="Register" method="post" class="p-4 border rounded bg-light" style="overflow-y: auto; max-height:70vh; padding:20px; width:100%;">
                        @*Email*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="Email" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">Email</label>
                            <input asp-for="Email" type="email" class="form-control" style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 15px;">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        @*FirstName*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="FirstName" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">First Name</label>
                            <input asp-for="FirstName" class="form-control" required style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 15px;">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        @*MiddleName*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="MiddleName" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">Middle Name</label>
                            <input asp-for="MiddleName" class="form-control" style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 15px;">
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>

                        @*LastName*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="LastName" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">Last Name</label>
                            <input asp-for="LastName" class="form-control" required style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 15px;">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        @*Affiliation*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="Affiliation" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">Affiliation</label>
                            <input asp-for="Affiliation" class="form-control" required style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 15px;">
                            <span asp-validation-for="Affiliation" class="text-danger"></span>
                        </div>

                        @*Select Classification*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="Classification" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">Classification</label>
                            <select asp-for="Classification" class="form-control" required>
                                <option value="" disabled selected>-- Select Classification --</option>
                                <option value="Student">Student</option>
                                <option value="Regular">Regular</option>
                            </select>
                            <span asp-validation-for="Classification" class="text-danger"></span>
                        </div>

                        @*Select Country*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="CountryRegion" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">Country/Region</label>
                            <select asp-for="CountryRegion" class="form-control" required>
                                <option value="" disabled selected>-- Select your country --</option>
                                @foreach (var country in countries)

                                {
                                    <option value="@country">@country</option>
                                }
                            </select>
                            <span asp-validation-for="CountryRegion" class="text-danger"></span>
                        </div>

                        @*Password*@
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label asp-for="Password" class="form-label" style="display: block;font-weight: bold;margin-bottom: 5px;">Password</label>
                            <input asp-for="Password" type="password" class="form-control" required style="width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 15px;">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn" style="display: block; width: 100%;padding: 10px;background-color: #8b0000;color: white;border: none;border-radius: 15px;cursor: pointer;font-size: 16px;">Register</button>
                    </form>
                </div>

                <div class="col-md-6">
                    <div class="image-container" style="display: flex;justify-content: center;align-items: flex-end;">
                        <img src="/images/pylon.png" alt="Image" style="width: 60vw;height: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function formatDate(input) {
          let value = input.value;
          let parts = value.split("-");
          if (parts.length === 3) {
            input.value = `${parts[1]}/${parts[2]}/${parts[0]}`; // Format as mm/dd/yyyy
          }
        }
    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>



